# Clean Data

In [223]:
# Import packages and datasets
import pandas as pd
import geopandas as gpd
import numpy as np
linked = pd.read_csv('../Data/LINKED_Public.csv', low_memory=False)
household = pd.read_csv('../Data/HH_Public.csv')
person = pd.read_csv('../Data/PER_Public.csv')

### Feature selected for analysis:

LINKED_Public:
 
- SAMPN (household identifier)
- PERNO (person number)
- PERTYPE (person type code)
- ORIG_HOME (if home is origin)
- DEST_HOME (if home is destination)
- DOW (day of week of travel)
- OTAZ (origin TAZ - NYMTC; WGS84) -- drop 0 Location Outside of NYBPM area
- DTAZ (destination TAZ - NYMTC; WGS84) -- drop 0 Location Outside of NYBPM area
- OTPURP_AGG (origin primary trip purpose)
- DTPURP_AGG (destination primary trip purpose)
- LTMODE_AGG (aggregate linked trip mode)
- TRP_DEP_HR (trip departure hours)
- TRP_DEP_MIN (trip departure minutes)
- TRP_ARR_HR (trip arrival hours)
- TRP_ARR_MIN (trip arrival minutes)
- TRPDUR (trip duration minutes)
- ACTDUR (activity duration)
- OTRACT (origin tract 2010; WGS84)
- DTRACT (destination tract 2010; WGS84)
- PMODE1 (primary mode - re-categorized based on PMODE)
- PMODE_R (primary mode range)
- PMODE_R2 (primary mode range2)
- PMODE_R3 (primary mode range3)
- WORK_PURP (work vs. non-work)
- DTPURP_R (aggregate destination primary trip purpose)
- ODTPURP (aggregate Origin to Destination primary trip purpose)
- ODTPURP1
- ODTPURP2
- ODTPURP2_R
- WORKTRIP (dummy for work trip based on ODTPURP2_R)
- TOD_R (time of departure range)
- TOD_PEAK (time of departure: non-peak vs. peak)
- TRIPDIST_R1 (trip distance range 1)
- TRIPDIST_R2 (trip distance range 2)


HH_Public:

- STYPE (sample type) -- Matched
- CTFIP (household residential location) -- NYC five boroughs(36047; 36061; 36081; 36005; 36085)
- INCOM (household income) -- drop 99 Refused
- DOW (day of travel during the week)
- HHVEH (number of household vehicles)


PER_Public:

- PSAMP (unique Person Identifier)
- SAMPN (household identifier)
- PERNO (person identifier)
- Gender -- drop 9 Refused
- AGE_R (age range) -- drop 9 Age not provided
- LIC (valid driver’s license) -- drop 8 Don’t Know and 9 Refused
- RACE (Race/Ethnicity) -- drop 98 Don’t Know, and 99 Refused
- EMPLY (emplyed) -- drop 8 Don’t Know and 9 Refused
- WORKS (work status)
- WKSTAT (unemployment Status) -- drop 8 Don’t Know and 9 Refused
- JOBS (number of jobs)
- WDAYS (work days) -- drop 8 Don’t Know and 9 Refused
- INDUS (industry)
- OCCUP (occupation)
- O_OCCUP (other in occupation)
- WLOC (work location)
- WFIPS (work location county) -- NYC five boroughs(36047; 36061; 36081; 36005; 36085)
- WMODE (usual mode of transportation to work) -- drop 98 Don’t Know and 99 Refused
- O_WMODE (Other, model of transportation to work)
- TTTWS (typical travel time to work) -- drop 999 Refused
- CDRIV (as part of job, does/dp drive a household vehicle from work site to work site?) -- drop 8 Don’t Know and 9 Refused
- WSTRT (work start time) -- drop 9999 Don’t Know / Refused
- WEND (work end time) -- drop 9999 Don’t Know / Refused
- STRVR (start time variation) -- drop 7 Other, 8 Don’t Know and 9 Refused
- ENDVR (end time variation) -- drop 7 Other, 8 Don’t Know and 9 Refused
- STUDE (student status) -- drop 8 DK and 9 RF

In [224]:
# Select needed features from datasets
linked_clean = linked[['SAMPN', 'PERNO', 'PERTYPE', 'ORIG_HOME', 'DEST_HOME', 'DOW', 'OTAZ', 'DTAZ','OTPURP_AGG', 'DTPURP_AGG', 'LTMODE_AGG',
                       'TRP_DEP_HR', 'TRP_DEP_MIN', 'TRP_ARR_HR', 'TRP_ARR_MIN', 'TRPDUR', 'ACTDUR', 'OTRACT', 'DTRACT', 'PMODE1', 'PMODE_R',
                       'PMODE_R2', 'PMODE_R3', 'WORK_PURP', 'DTPURP_R', 'ODTPURP', 'ODTPURP1', 'ODTPURP2', 'ODTPURP2_R', 'WORKTRIP', 'TOD_R',
                       'TOD_PEAK', 'TRIPDIST_R1', 'TRIPDIST_R2']]

household_clean = household[['SAMPN', 'STYPE', 'CTFIP', 'INCOM', 'DOW', 'HHVEH']]

person_clean = person[['SAMPN', 'PERNO', 'GENDER', 'AGE_R', 'LIC', 'RACE', 'EMPLY', 'WORKS', 'WKSTAT', 'JOBS', 'WDAYS', 'INDUS', 'OCCUP',
                       'O_OCCUP', 'WLOC', 'WFIPS', 'WMODE', 'O_WMODE', 'TTTWS', 'CDRIV', 'WSTRT', 'WEND', 'STRVR', 'ENDVR', 'STUDE']]

# Clean Linked Trips Dataset

In [77]:
len(linked_clean)

143925

In [78]:
linked_clean.isnull().any()

SAMPN          False
PERNO          False
PERTYPE        False
ORIG_HOME      False
DEST_HOME      False
DOW            False
OTAZ           False
DTAZ           False
OTPURP_AGG     False
DTPURP_AGG     False
LTMODE_AGG     False
TRP_DEP_HR     False
TRP_DEP_MIN    False
TRP_ARR_HR     False
TRP_ARR_MIN    False
TRPDUR         False
ACTDUR         False
OTRACT         False
DTRACT         False
PMODE1         False
PMODE_R        False
PMODE_R2       False
PMODE_R3       False
WORK_PURP      False
DTPURP_R       False
ODTPURP        False
ODTPURP1       False
ODTPURP2       False
ODTPURP2_R     False
WORKTRIP       False
TOD_R          False
TOD_PEAK        True
TRIPDIST_R1     True
TRIPDIST_R2     True
dtype: bool

In [79]:
linked_clean = linked_clean[np.isfinite(linked_clean['TOD_PEAK'])]
linked_clean = linked_clean[np.isfinite(linked_clean['TRIPDIST_R1'])]
linked_clean = linked_clean[np.isfinite(linked_clean['TRIPDIST_R2'])]

In [80]:
len(linked_clean)

140670

In [81]:
linked_clean.isnull().any()

SAMPN          False
PERNO          False
PERTYPE        False
ORIG_HOME      False
DEST_HOME      False
DOW            False
OTAZ           False
DTAZ           False
OTPURP_AGG     False
DTPURP_AGG     False
LTMODE_AGG     False
TRP_DEP_HR     False
TRP_DEP_MIN    False
TRP_ARR_HR     False
TRP_ARR_MIN    False
TRPDUR         False
ACTDUR         False
OTRACT         False
DTRACT         False
PMODE1         False
PMODE_R        False
PMODE_R2       False
PMODE_R3       False
WORK_PURP      False
DTPURP_R       False
ODTPURP        False
ODTPURP1       False
ODTPURP2       False
ODTPURP2_R     False
WORKTRIP       False
TOD_R          False
TOD_PEAK       False
TRIPDIST_R1    False
TRIPDIST_R2    False
dtype: bool

In [82]:
linked_clean = linked_clean.loc[linked_clean['OTAZ'] != 0]

In [83]:
linked_clean = linked_clean.loc[linked_clean['DTAZ'] != 0]

In [84]:
len(linked_clean)

138763

In [85]:
linked_clean.head()

,SAMPN,PERNO,PERTYPE,ORIG_HOME,DEST_HOME,DOW,OTAZ,DTAZ,OTPURP_AGG,DTPURP_AGG,...,DTPURP_R,ODTPURP,ODTPURP1,ODTPURP2,ODTPURP2_R,WORKTRIP,TOD_R,TOD_PEAK,TRIPDIST_R1,TRIPDIST_R2
0,3000056,1,2,1,0,3,2626,2627,0,9,...,3,3,3,4,3,2,1,1.0,2.0,3.0
1,3000056,1,2,0,1,3,2627,2626,9,0,...,0,6,10,4,3,2,1,1.0,2.0,3.0
2,3000056,1,2,1,0,3,2626,2627,0,1,...,1,1,1,1,1,1,2,0.0,2.0,3.0
3,3000056,1,2,0,1,3,2627,2626,1,0,...,0,4,8,1,1,1,2,0.0,2.0,3.0
4,3000056,1,2,1,0,3,2626,2628,0,9,...,3,3,3,4,3,2,3,1.0,2.0,3.0

In [86]:
linked_clean.to_csv('../Data/linked_trips.csv')

# Clean Household Dataset

In [87]:
len(household_clean)

18965

In [88]:
household_clean.isnull().any()

SAMPN    False
STYPE    False
CTFIP    False
INCOM    False
DOW      False
HHVEH    False
dtype: bool

In [89]:
household_clean = household_clean.loc[household_clean['INCOM'] != 99]

In [90]:
len(household_clean)

17635

In [91]:
household_clean.head()

     SAMPN  STYPE  CTFIP  INCOM  DOW  HHVEH
0  3000056      1   9001      5    3      3
1  3000128      1  36027      4    4      2
3  3000146      1  34027      5    2      1
4  3000157      1  34017      1    3      0
6  3000250      1  36059      3    2      1

In [92]:
household_clean.to_csv('../Data/household.csv')

# Clean Person Dataset

In [225]:
len(person_clean)

43558

In [226]:
person_clean.isnull().any()

SAMPN      False
PERNO      False
GENDER     False
AGE_R      False
LIC         True
RACE       False
EMPLY       True
WORKS       True
WKSTAT      True
JOBS        True
WDAYS       True
INDUS       True
OCCUP       True
O_OCCUP    False
WLOC        True
WFIPS       True
WMODE       True
O_WMODE    False
TTTWS       True
CDRIV       True
WSTRT      False
WEND       False
STRVR       True
ENDVR       True
STUDE      False
dtype: bool

In [227]:
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'LIC'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'EMPLY'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WORKS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WKSTAT'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'JOBS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WDAYS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'INDUS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'OCCUP'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'O_OCCUP'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WLOC'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WFIPS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WMODE'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'O_WMODE'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'TTTWS'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'CDRIV'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WSTRT'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'WEND'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'ENDVR'] = 'N/A'
person_clean.loc[person_clean.AGE_R == 'Younger than 16 years', 'STRVR'] = 'N/A'

In [228]:
person_clean.loc[person_clean.WORKS == 'Works', 'WKSTAT'] = 'Employed'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'JOBS'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'WDAYS'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'INDUS'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'OCCUP'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'O_OCCUP'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'WLOC'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'WFIPS'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'WMODE'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'TTTWS'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'CDRIV'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'ENDVR'] = 'N/A'
person_clean.loc[person_clean.WORKS == 'Not a Worker', 'STRVR'] = 'N/A'

In [229]:
person_clean.isnull().any()

SAMPN      False
PERNO      False
GENDER     False
AGE_R      False
LIC         True
RACE       False
EMPLY       True
WORKS       True
WKSTAT      True
JOBS        True
WDAYS       True
INDUS       True
OCCUP       True
O_OCCUP    False
WLOC        True
WFIPS       True
WMODE       True
O_WMODE    False
TTTWS       True
CDRIV       True
WSTRT      False
WEND       False
STRVR       True
ENDVR       True
STUDE      False
dtype: bool

In [230]:
len(person_clean)

43558

In [231]:
person_clean = person_clean.loc[person_clean['GENDER'] != 'RF']
person_clean = person_clean.loc[person_clean['AGE_R'] != 'Age not provided']
person_clean = person_clean.loc[person_clean['LIC'] != 'RF']
person_clean = person_clean.loc[person_clean['LIC'] != 'DK']
person_clean = person_clean.loc[person_clean['RACE'] != 'RF']
person_clean = person_clean.loc[person_clean['RACE'] != 'DK']
person_clean = person_clean.loc[person_clean['EMPLY'] != 'RF']
person_clean = person_clean.loc[person_clean['EMPLY'] != 'DK']
person_clean = person_clean.loc[person_clean['WKSTAT'] != 'RF']
person_clean = person_clean.loc[person_clean['WKSTAT'] != 'DK']
person_clean = person_clean.loc[person_clean['WDAYS'] != 'RF']
person_clean = person_clean.loc[person_clean['WDAYS'] != 'DK']
person_clean = person_clean.loc[person_clean['WMODE'] != 'RF']
person_clean = person_clean.loc[person_clean['WMODE'] != 'DK']
person_clean = person_clean.loc[person_clean['TTTWS'] != 'RF']
person_clean = person_clean.loc[person_clean['CDRIV'] != 'RF']
person_clean = person_clean.loc[person_clean['CDRIV'] != 'DK']
person_clean = person_clean.loc[person_clean['WSTRT'] != 'RF']
person_clean = person_clean.loc[person_clean['WSTRT'] != 'DK']
person_clean = person_clean.loc[person_clean['WEND'] != 'RF']
person_clean = person_clean.loc[person_clean['WEND'] != 'DK']
person_clean = person_clean.loc[person_clean['STRVR'] != 'RF']
person_clean = person_clean.loc[person_clean['STRVR'] != 'DK']
person_clean = person_clean.loc[person_clean['ENDVR'] != 'RF']
person_clean = person_clean.loc[person_clean['ENDVR'] != 'DK']
person_clean = person_clean.loc[person_clean['STUDE'] != 'RF']
person_clean = person_clean.loc[person_clean['STUDE'] != 'DK']

In [232]:
len(person_clean)

40542

In [234]:
person_clean.isnull().sum()

SAMPN         0
PERNO         0
GENDER        0
AGE_R         0
LIC           0
RACE          0
EMPLY         0
WORKS         0
WKSTAT        0
JOBS          0
WDAYS         0
INDUS         0
OCCUP         0
O_OCCUP       0
WLOC          0
WFIPS      1886
WMODE      1886
O_WMODE       0
TTTWS      1886
CDRIV      5663
WSTRT         0
WEND          0
STRVR      1886
ENDVR      1886
STUDE         0
dtype: int64

In [218]:
person_clean.head()

,SAMPN,PERNO,GENDER,AGE_R,LIC,RACE,EMPLY,WORKS,WKSTAT,JOBS,...,WFIPS,WMODE,O_WMODE,TTTWS,CDRIV,WSTRT,WEND,STRVR,ENDVR,STUDE
0,3000056,1,Female,35-54 years,Yes,White,Yes,Works,Employed,1,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No
1,3000056,2,Male,35-54 years,Yes,White,Yes,Works,Employed,2,...,Bergen,Auto Passenger,,90,No,730,1900,Within 15 Minutes or Less,More than 1 Hour,No
2,3000056,3,Male,19-24 years,Yes,White,Yes,Works,Employed,1,...,Fairfield,Auto Passenger,,14,No,1800,2330,More than 1 Hour,More than 1 Hour,Yes - Full Time
3,3000056,4,Male,16-18 years,Yes,White,Yes,Works,Employed,1,...,Fairfield,Auto Passenger,,14,No,1600,2330,More than 1 Hour,More than 1 Hour,Yes - Full Time
4,3000056,5,Female,Younger than 16 years,N/A,White,N/A,N/A,N/A,N/A,...,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Yes - Full Time

In [240]:
person_clean.to_csv('../Data/person.csv')

# Merge Datasets

In [246]:
linked_household = pd.merge(linked_clean, household_clean, how='inner', on=['SAMPN'])
trip_survey = pd.merge(linked_household, person_clean, how='inner', on=['SAMPN', 'PERNO'])
trip_survey.head()

,SAMPN,PERNO,PERTYPE,ORIG_HOME,DEST_HOME,DOW_x,OTAZ,DTAZ,OTPURP_AGG,DTPURP_AGG,...,WFIPS,WMODE,O_WMODE,TTTWS,CDRIV,WSTRT,WEND,STRVR,ENDVR,STUDE
0,3000056,1,2,1,0,3,2626,2627,0,9,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No
1,3000056,1,2,0,1,3,2627,2626,9,0,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No
2,3000056,1,2,1,0,3,2626,2627,0,1,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No
3,3000056,1,2,0,1,3,2627,2626,1,0,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No
4,3000056,1,2,1,0,3,2626,2628,0,9,...,Fairfield,Auto Passenger,,8,No,100,300,Start Time Cannot Vary,16 to 30 Minutes,No

In [247]:
len(trip_survey)

133942

In [249]:
trip_survey.to_csv('../Data/trip_survey_working.csv')